venv
*.pyc
*.db
.sublime-*
.DS_Store
Design Documents/BriansMocks/~$Copy of Report_mockup_final.xlsx
Design Documents/BriansMocks/~$port_mockup_summary (2).docx
parser/dump.txt
Design Documents/BriansMocks/~$Report_mockup_final.xlsx
file_uploads/testdata2.txt
