<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/dt/dt-1.10.9/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/r/dt/dt-1.10.9/datatables.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <link href="{{ url_for('static', filename='styles/site.css') }}" rel="stylesheet">
</head>

<body>
  {% if session.logged_in %}
  <a class="login-out pull-right" href="{{ url_for('logout') }}">Logout</a>
  {% else %}
  <a class="login-out pull-right" href="{{ url_for('login') }}">Login</a>
  {% endif %}
  <nav id="nav01">
    <ul id='menu'>
      <li><a href="index">Home</a></li>
      <li><a href="{{ url_for('customers') }}">Data</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
  </nav>
  
  <div class="main">
    <h1>About Profit Loss Portal</h1>
    <p>Profit Loss Portal is a simple to use stockmarket simplifier.
      By searching for your stock we can give you detailed information about that stock across
      various different stock exchanges.</p>
      <footer id="foot01"></footer>
    </div>

    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

  </body>
  </html>