<!DOCTYPE html>
<html>
<head>
  <title>Profit and Loss Portal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/r/dt/dt-1.10.9/datatables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/dt/dt-1.10.9/datatables.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <link href="{{ url_for('static', filename='styles/site.css') }}" rel="stylesheet">
</head>
<body>
  <div class="row">
    <div class="col-sm-12" style="overflow: auto; margin: -1px 0px -2px -3px">
      <nav id="nav01" class='pull-left'>
        <ul id='menu'>
          <li><a href="{{ url_for('home') }}">Home</a></li><!-- whitespace hack
      --><li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
      </nav>
      <!-- {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% endwith %} -->
      <nav id="nav02" class='pull-right'>
        <ul id='menu'>
          <li>
            {% if session.logged_in %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </div>


    <div class="container-fluid col-sm-12">
      <!-- child template -->
      {% block content %}
      {% endblock %}
    </div>

  </div>
  <footer id="foot01"></footer>
</body>

<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</html>
