<!DOCTYPE html>
<html>

<head>
  <title>Customers</title>
  <link href="{{ url_for('static', filename='styles/site.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/jquery.tablesorter.min.js') }}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
</head>

<body>
<nav id="nav01">
    <ul id='menu'>
      <li><a href="index">Home</a></li>
      <li><a href="{{ url_for('customers') }}">Data</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
  </nav>
<div id="main">
<h1>Customers</h1>


<!--Just waiting on DB finalization for real data-->

<table id="datatable" class="tablesorter">

<thead>
<tr>
  <th>TicketID</th>
  <th>Accnt</th>
  <th>Trade</th>
  <th>Entry</th>
  <th>Settle</th>
  <th>B/S</th>
  <th>Units</th>
  <th>Sec Symbol</th>
  <th>Exch</th>
  <th>Price</th>
  <!-- <th>Comm</th> -->
</tr>
</thead>
<tbody>
  {% for item in list %}
  <tr>
    <th> {{ item.ticket_number }}</th>
    <th> {{ item.account_id }}</th>
    <th> {{ item.trade }}</th>
    <th> {{ item.entry }}</th>
    <th> {{ item.settle }}</th>
    <th> {{ item.buy_sell }}</th>
    <th> {{ item.units }}</th>
    <th> {{ item.sec_sym }}</th>
    <th> {{ item.exchange_id }}</th>
    <th> {{ item.price }}</th>
    <!-- <th> {{ item.commission }}</th> -->
  </tr>

  {% endfor %}

</tbody>
</table>

<footer id="foot01"></footer>
</div>

  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

</body>
</html>