<!DOCTYPE html>
<html>

<head>
  <title>Customers</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/dt/dt-1.10.9/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/r/dt/dt-1.10.9/datatables.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <link href="{{ url_for('static', filename='styles/site.css') }}" rel="stylesheet">
</head>

<body>
  {% if session.logged_in %}
  <a class="login-out pull-right" href="{{ url_for('logout') }}">Logout</a>
  {% else %}
  <a class="login-out pull-right" href="{{ url_for('login') }}">Login</a>
  {% endif %}
  <nav id="nav01">
    <ul id='menu'>
      <li><a href="index">Home</a></li>
      <li><a href="{{ url_for('customers') }}">Data</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
  </nav>
  <div class="main">
    <h1>Customers</h1>


    <!--Just waiting on DB finalization for real data-->
    
    <table id="datatable" class="display">
      <thead>
        <tr>
          <th>TicketID</th>
          <th>Accnt</th>
          <th>Trade</th>
          <th>Entry</th>
          <th>Settle</th>
          <th>B/S</th>
          <th>Units</th>
          <th>Sec Symbol</th>
          <th>Exch</th>
          <th>Price</th>
          <!-- <th>Comm</th> -->
        </tr>
      </thead>
      <tbody>
        {% for item in list %}
        <tr>
          <td class="ticket_number"> {{ item.ticket_number }}</td>
          <td class="account_id"> {{ item.account_id }}</td>
          <td class="trade"> {{ item.trade }}</td>
          <td class="entry"> {{ item.entry }}</td>
          <td class="settle"> {{ item.settle }}</td>
          <td class="buy_sell"> {{ item.buy_sell }}</td>
          <td class="units"> {{ item.units }}</td>
          <td class="sec_sym"> {{ item.sec_sym }}</td>
          <td class="exchange_id"> {{ item.exchange_id }}</td>
          <td class="price"> {{ item.price }}</td>
          <!-- <th> {{ item.commission }}</th> -->
        </tr>

        {% endfor %}

      </tbody>
    </table>
  </div>
  <footer id="foot01"></footer>


  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

</body>
</html>