<!DOCTYPE html>
<html>

<head>
  <title>Customers</title>
  <link href="{{ url_for('static', filename='styles/site.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/jquery.tablesorter.min.js') }}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
</head>

<body>
<nav id="nav01"></nav>

<div id="main">
<h1>Customers</h1>


<!--Just waiting on DB finalization for real data-->

<table id="datatable" class="tablesorter">
<thead>
<tr>
  <th>Option Sym</th>
  <th>Exchange</th>
  <th>StrikePrice</th>
  <th>SortMe1</th>
  <th>SortMe2</th>
  <th>SortMe3</th>
  <th>Exp. Date</th>
</tr>
</thead>
<tbody>
<tr>
  <th>BSSK</th>
  <th>BATS</th>
  <th>150</th>
  <th>23</th>
  <th>43</th>
  <th>54</th>
  <th>Jan 18, 2015</th>
-</tr>
<tr>
  <th>GOOG</th>
  <th>CBOE</th>
  <th>120</th>
  <th>34</th>
  <th>54</th>
  <th>76</th>
  <th>Jan 10, 2015</th>
-</tr>
<tr>
  <th>NFLX</th>
  <th>BATS</th>
  <th>200</th>
  <th>67</th>
  <th>87</th>
  <th>12</th>
  <th>Jun 18, 2014</th>
-</tr>
</tbody>
</table>

<footer id="foot01"></footer>
</div>

  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

</body>
</html>