{% extends "base.html" %}
{% block content %}

<h1>Clearance Reports</h1>
<form action="" method="post">
	<div class="col-sm-4">
		<input type="radio" name="report_type" value="trader_conf">Trader Confirmation Report<br>
		<input type="radio" name="report_type" value="profit_loss">Profit and Loss Report<br><br>
		<select class="borderless-select" name="account" size=10>
			<optgroup label="Select an Account">
				{% for account in accounts %}
				<option name="account" value="{{ account.account_id }}">{{ account.initials }}</option>
				{% endfor %}
			</optgroup>
		</select>
	</div>
	<div class="col-sm-4">
		<input class="date_radio" type="radio" name="date_type" value="today">Today<br>
		<input class="date_radio" type="radio" name="date_type" value="yesterday">Yesterday<br>
		<input class="date_radio" type="radio" name="date_type" value="this_month">Month-to-Date<br>
		<input class="date_radio" type="radio" name="date_type" value="prev_month">Previous Month<br>
		<input class="date_radio" type="radio" name="date_type" value="this_year">Year-to-Date<br>
		<input class="date_radio" type="radio" name="date_type" value="last_year">Last Year<br>
		<input class="date_radio" id="selected_date" type="radio" name="date_type" value="selected">Selected Dates<br>
	</div>
	<div class="col-sm-4">
		<div id="date_selectors" style="display:none">
			<label>From: <br><input type="text" id="fromdate" value="from_date"></label>
			<label >To: <br><input type="text" id="todate" value="to_date"></label>
		</div>
	</div>
	<input id="report_btn" class="btn btn-default" type="submit" value="Generate Report">
</form>
{% endblock %}