{% extends "base.html" %}
{% block content %}

<h1>Clearance Reports</h1>
<form action="" method="post">
	<div class="col-sm-4">
		<input type="radio" name="report_type" value="{{ request.form.report_type }}">Trader Confirmation Report<br>
		<input type="radio" name="report_type" value="{{ request.form.report_type }}">Profit and Loss Report<br><br>
		<select class="borderless-select" name="account" size=10>
			<optgroup label="Select an Account">
				{% for account in accounts %}
				<option value="{{ request.form.account }}">{{ account.initials }}</option>
				{% endfor %}
			</optgroup>
		</select>
	</div>
	<div class="col-sm-4">
		<input class="date_radio" type="radio" name="date_type" value="{{ request.form.date }}">Today<br>
		<input class="date_radio" type="radio" name="date_type" value="{{ request.form.date }}">Yesterday<br>
		<input class="date_radio" type="radio" name="date_type" value="{{ request.form.date }}">Month-to-Date<br>
		<input class="date_radio" type="radio" name="date_type" value="{{ request.form.date }}">Previous Month<br>
		<input class="date_radio" type="radio" name="date_type" value="{{ request.form.date }}">Year-to-Date<br>
		<input class="date_radio" type="radio" name="date_type" value="{{ request.form.date }}">Last Year<br>
		<input class="date_radio" id="selected_date" type="radio" name="date_type" value="{{ request.form.date }}">Selected Dates<br>
	</div>
	<div class="col-sm-4">
		<div id="date_selectors" style="display:none">
			<label>From: <br><input type="text" id="fromdate" value="{{ request.form.fromdate }}"></label>
			<label >To: <br><input type="text" id="todate" value="{{ request.form.todate }}"></label>
		</div>
	</div>
	<input id="report_btn" class="btn btn-default" type="submit" value="Generate Report">
</form>
{% endblock %}