{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='scripts/bootstrap-table-expandable.js') }}"></script>
<link href="{{ url_for('static', filename='styles/bootstrap-table-expandable.css') }}" rel="stylesheet">

<h1>Profit and Loss Report</h1>

<div class="container-fluid">
	
	<table class="table table-expandable">
		<thead>
			<tr>
				<th>Symbol</th>
				<th>Strike</th>
				<th>Unreal</th>
				<th>Real</th>
				<th>Net</th>
			</tr>
		</thead>
		<tbody>
			<!-- loop over all stocks traded -->
			{% for stocksymbol in stockdict %}
			<tr>
				<td> {% if stocksymbol %}{{ stocksymbol }}{% endif %}</td>
				<td> </td>
				<td>$300.00</td>
				<td>$485.20</td>
				<td>$785.20</td>
			</tr>
			<!-- loop over all options (needs tuning) -->
			<tr>
				<td colspan="6">
					<table class="table table-expandable">
						<tbody>
							{% for option in stockdict[stocksymbol] %}
							<tr>
								<td>{{ option }}</td>
								<td>Unreal</td>
								<td>Real</td>
								<td>Net</td>
							</tr>
							<tr>
								<td colspan="5">
									<table class="table">
										<thead>
											<th>Trade Date</th>
											<th>Ex Quan</th>
											<th>Ex Price</th>
											<th>Exch</th>
											<th>Mark</th>
											<th>Real</th>
											<th>Net Fees</th>
										</thead>
										<tbody>
											<!-- Another forloop here for individual trades on each option -->
											{% for transaction in stockdict[stocksymbol][option] %}
											<tr>
												{% if transaction.isPosition and not (transaction.price == 0) %}
												<td>CLOSING</td>
												<td>{{ transaction.units }}</td>
												<td>{{ transaction.price }}</td>
												<td>{{ transaction.exchange_id }}</td>
												<td>mark</td>
												<td>real</td>
												<td>fees</td>
												{% elif not (transaction.units == 0)  %}
												<td>{{ transaction.trade }}</td>
												<td>{% if transaction.buy_sell == "Sell" %}
														-{{ transaction.units }}
													{% else %}
														{{ transaction.units }}
													{% endif %}
													</td>
												<td>{{ transaction.price }}</td>
												<td>{{ transaction.exchange_id }}</td>
												<td>mark</td>
												<td>real</td>
												<td>fees</td>
												{% endif %}
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}