{% extends "base.html" %}
{% block content %}

<h1>Profit & Loss Report</h1>
<h3>Windy City Ventures LLC PMA</h3>
<h5>Acronym: WCV (Base Currency: USD)<br><br><br></h5>

<h5>Period between Tuesday, September 01, 2015 and Thursday, September 24, 2015<br><br></h5>

<div class="row">
 <div class="col-sm-3 row">
  <div class="col-sm-12">
    <a class="pull-left" href="blah">ABBV</a>
    <p class="pull-right">326.18</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">AEP</a>
    <p class="pull-right">(7.72)</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">AKBA</a>
    <p class="pull-right">22.78</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">ALTR</a>
    <p class="pull-right">(232.33)</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">AMBA</a>
    <p class="pull-right">(23.30)</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">ASHR</a>
    <p class="pull-right">(103.57)</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">ATML</a>
    <p class="pull-right">6.27</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">AVP</a>
    <p class="pull-right">1,478.67</p>
  </div>
</div>
<div class="col-sm-3">
  <div class="col-md-12">
    <a class="pull-left" href="blah">EUO</a>
    <p class="pull-right">63.77</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">EXC</a>
    <p class="pull-right">309.59</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">FEZ</a>
    <p class="pull-right">(740.84)</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">FL</a>
    <p class="pull-right">347.61</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">FLR</a>
    <p class="pull-right">(6.43)</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">FOXA</a>
    <p class="pull-right">729.21</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">FTR</a>
    <p class="pull-right">(3.26)</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">GPK</a>
    <p class="pull-right">196.89</p>
  </div>
</div>
<div class="col-sm-3">
  <div class="col-sm-12">
    <a class="pull-left" href="blah">JMEI</a>
    <p class="pull-right">10.75</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">JNK</a>
    <p class="pull-right">310.39</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">KING</a>
    <p class="pull-right">(16.08)</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">KKDR</a>
    <p class="pull-right">(40.69)</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">KR</a>
    <p class="pull-right">154.37</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">KSS</a>
    <p class="pull-right">223.20</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">LINE</a>
    <p class="pull-right">(217.90)</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">LL</a>
    <p class="pull-right">15.31</p>
  </div>
</div>
<div class="col-sm-3">
  <div class="col-sm-12">
    <a class="pull-left" href="blah">PYPL</a>
    <p class="pull-right">(221.45)</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">QEP</a>
    <p class="pull-right">430.18</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">RDEN</a>
    <p class="pull-right">22.78</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">REXX</a>
    <p class="pull-right">(232.33)</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">RIO</a>
    <p class="pull-right">(23.30)</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">RPTP</a>
    <p class="pull-right">(103.57)</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">SCHW</a>
    <p class="pull-right">6.27</p>
  </div>
  <div class="col-sm-12">
    <a class="pull-left" href="blah">SDRL</a>
    <p class="pull-right">1,478.67</p>
  </div>
</div>
</div>
<br>
<br>




<p>Total Trades for Period: 738</p>
<b> Total Profit /(Loss) for Account: 4,340.82</b>
<br>
<br>
<B>ABBV</B> <br><br>
<div class="col-sm-3">
  <div class="col-sm-12">
    <u>Date</u>
  </div>
  <div class="col-sm-12">
    <p><br></p>
  </div>
  <div class="col-sm-12">
    <p>09/18/15</p>
  </div>
  <div class="col-sm-12">
    <p>09/18/15</p>
  </div>
</div>
<div class="col-sm-3">
  <div class="col-sm-12">
    <u>Action</u>
  </div>
  <div class="col-sm-12">
    <p class="pull-left">Beginning Position</p>
  </div>
  <div class="col-sm-12">
    <p class="pull-left">Buy</p>
  </div>
  <div class="col-sm-12">
    <p class="pull-left">Sell</p>
  </div>
  <div class="col-sm-12">
    <p class="pull-left">Closing Position</p>
  </div>
</div>
<div class="col-sm-3">
  <div class="col-sm-12">
    <u class ="pull-right">Quantity</u>
  </div>
  <div class="col-sm-12">
    <p><br></p>
  </div>
  <div class="col-sm-12">
    <p class="pull-right">200</p>
  </div>
  <div class="col-sm-12">
    <p class="pull-right">(200)</p>
  </div>
</div>
<div class="col-sm-3">
  <div class="col-sm-12">
    <u class ="pull-left">Price</u>
    <u class="pull-right">Commision</u>
  </div>
  <div class="col-sm-12">
    <p class="pull-left">62.4100</p>
  </div>
  <div class="col-sm-12">
    <p class="pull-left">60.7800</p>
  </div>
  <div class="col-sm-12">
    <p class="pull-left">60.3450</p>
  </div>
  <div class="col-sm-12">
    <p class="pull-left">56.100</p>
  </div>
</div>

<b>ABBV CALL 20NOV15 67.5</b>
{% endblock %}