{% extends "base.html" %}
{% block content %}

<h1>Profit & Loss Report</h1>
<h3>Windy City Ventures LLC PMA</h3>
<h5>Acronym: WCV (Base Currency: USD)<br><br><br></h5>

<h5>{{ period }}<br><br></h5>


<div class ="container-fluid">
  {% for item in list %}
  <div class="col-sm-12 col-lg-3">
    <a class="pull-left" href="blah">{{ item }}</a> 
    <p class="pull-right">{{ dict[item] }}</p>
  </div>
  {% endfor %}
</div>

<br>
<br>




<p>Total Trades for Period: {{ numTrades }}</p>
<b> Total Profit /(Loss) for Account: {{ totalProfit }}</b>
<br>
<br>
{% for item in transList %}
<div class='container-fluid'>
<B class="pull-left">{{ item }}</B> <br><br>
<div class="col-sm-3">
  <div class="col-sm-12">
    <u>Date</u>
  </div>
  <div class="col-sm-12">
    <p><br></p>
  </div>
  <div class="col-sm-12">
    <p>{{ item.trade }}</p>
  </div>
  <div class="col-sm-12">
    <p>xx</p>
  </div>
</div>
<div class="col-sm-3">
  <div class="col-sm-12">
    <u>Action</u>
  </div>
  <div class="col-sm-12">
    <p class="pull-left">Beginning Position</p>
  </div>
  <div class="col-sm-12">
    <p class="pull-left">Buy</p>
  </div>
  <div class="col-sm-12">
    <p class="pull-left">Sell</p>
  </div>
  <div class="col-sm-12">
    <p class="pull-left">Closing Position</p>
  </div>
</div>
<div class="col-sm-3">
  <div class="col-sm-12">
    <u class ="pull-right">Quantity</u>
  </div>
  <div class="col-sm-12">
    <p><br></p>
  </div>
  <div class="col-sm-12">
    {% if item.buy_sell == "B" %}
    <p class="pull-right">{{ item.units }}</p>
    {% else %}
    <p class="pull-right"></p>
    {% endif %}
  </div>
  <div class="col-sm-12">
    {% if item.buy_sell == "S" %}
    <p class="pull-right">{{ item.units }}</p>
    {% else %}
    <p class="pull-right"></p>
    {% endif %}
  </div>
</div>
<div class="col-sm-3">
  <div class="col-sm-12">
    <u class ="pull-left">Price</u>
    <u class="pull-right">Commission</u>
  </div>
  <div class="col-sm-12">
    <p class="pull-left">62.4100</p>
    <p class="pull-right">{{ item.commission }}</p>
  </div>
  <div class="col-sm-12">
 {% if item.buy_sell == "B" %}
    <p class="pull-left">{{ item.price }}</p>
    {% else %}
    <p class="pull-left"></p>
    {% endif %}  </div>
  <div class="col-sm-12">
     {% if item.buy_sell == "S" %}
    <p class="pull-left">{{ item.price }}</p>
    {% else %}
    <p class="pull-left"></p>
    {% endif %}
  </div>
  <div class="col-sm-12">
    <p class="pull-left">56.100</p>
  </div>
</div>
</div>
{% endfor %}

{% endblock %}
