{% extends "base.html" %}
{% block content %}

<h1>Trader Confirmation Report</h1>

<input type="text" name="account_id" value="{{ account_id }}" style="display:none">
<label>Stock Sym: <br><input type="text" name="stock_sym"></label>
<div id="getChartButton" class="btn btn-default">Get Chart</div>
<div id="hideChartButton" class="btn btn-default" style="display:none">Hide Chart</div>
<br>
<div id="chart_container" class="row"></div><br>

<table id="datatable" class="display">
  <thead>
    <tr>
      <th>TicketID</th>
      <th>Trade</th>
      <th>Entry</th>
      <th>Settle</th>
      <th>B/S</th>
      <th>Units</th>
      <th>Sec Symbol</th>
      <th>Exch</th>
      <th>Price</th>
      <th>Comm</th>
    </tr>
  </thead>
  <tbody>
    {% for item in list %}
    <tr>
      <td> {{ item.ticket_number }}</td>
      <td> {{ item.trade }}</td>
      <td> {{ item.entry }}</td>
      <td> {{ item.settle }}</td>
      <td> {{ item.buy_sell }}</td>
      <td> {{ item.units }}</td>
      <td> {{ item.sec_sym }}</td>
      <td> {{ item.exchange_id }}</td>
      <td> {{ item.price }}</td>
      <td> {{ item.commission }}</td>
    </tr>

    {% endfor %}

  </tbody>
</table>

<script src="{{ url_for('static', filename='scripts/trconf.js') }}"></script>
{% endblock %}